@import url(common.css);

body {
    background-color: var(--primary-bg);
    font-family: 'Poppins',
        sans-serif;
    ;
}


/*! Main container style here */
.container__main {
    align-items: initial;
}

/*!  Header style here */

.container__main .main__header {
    min-height: 15vh;
}

/* Header announcment-bar style here */
.main__header .header__announcment-bar {
    width: 100%;
    height: 20%;
    min-height: 1rem;
    background-color: var(--color-text-bg);
    font-weight: 600;
}


/* Header navbar style here */
.header__navbar .nav {
    background-color: var(--primary-bg);
    height: auto;
    height: 80%;
}

.nav__button-sec button {
    background-color: var(--text-sec);
}


/*! Main site wrappers style   */

/* Site intro section style here  */
.landing__site-wrapper .site__intro-sec {
    align-items: center;
    gap: 0;
    min-height: 80vh;
    position: relative;
    background-color: var(--intro-sec-bg);
}

/* White box near top left corner style */
.site__intro-sec .intro__sec-box {
    position: absolute;
    width: 3rem;
    height: 3rem;
    background-color: var(--color-pure-white);
    background-color: var(--color-image-bg);
}

.site__intro-sec .intro__sec-box:nth-child(1) {
    top: 0;
    left: 0;
}

.site__intro-sec .intro__sec-box:nth-child(2) {
    top: 3rem;
    left: 3rem;
}

/* Intro section text style here */
.site__intro-sec .intro__sec-text {
    text-align: center;
    min-height: 100%;
    width: 100%;
    background-color: var(--color-text-bg);

}

.site__intro-sec .intro__sec-text>* {
    width: 80%;
}

.intro__sec-text .headline-1 {
    font-size: 4rem;
    font-weight: 900;
}

.intro__sec-text p {
    font-size: 2.5rem;
    line-height: 3rem;
    color: var(--text-sec);
}

.intro__sec-text p i {
    color: var(--text-sec);
}

.intro__sec-text button {
    max-width: 10rem;
    margin-top: 2rem;
    background-color: var(--text-sec);
}


.intro__sec-text button i {
    transform: rotate(-90deg);
}

/* Intro section image style here */
.site__intro-sec .intro__sec-image {
    background-color: var(--color-image-bg);
}

.intro__sec-image .image__container {
    min-width: 30rem;
}

.image-res {
    max-height: 100%;
}

/*! Category section style here  */

.site__category-sec,
.site__newarrival-sec {
    margin: 2rem 0;
}

.site__category-sec .grid {
    grid-template-columns: repeat(3, 1fr);
}

.category__sec>* {
    background-color: var(--color-image-bg);
    position: relative;
    max-width: 20rem;
    max-height: 20rem;
}


.category__sec .overlay__sec-text {
    background-color: var(--primary-bg);
    color: black;
}


/*! New arrivals section style here  */


.newarrival__sec-cards {
    height: initial;
    width: 90%;
    gap: 1rem;
}


.newarrival__sec-cards .card__sec-upper {
    background-color: var(--color-image-bg);
}

.newarrival__sec-cards .card__sec-lower {
    background-color: var(--color-text-bg);
}


/*! Main footer style here */

.main__footer {
    margin: 2rem 0;
    min-height: 2rem;
}
